:root {
  --background-color: #111;
  --text-color: #aaaaaa;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

/* desktop hero stylings */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 2%;
}

.header-name {
  display: flex;
  gap: 10px;
}

.header-name h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.header-name img {
  width: 30px;
  height: 25px;
  margin-left: 5px;
}

.header-name h1:hover {
  color: var(--white);
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-description {
  display: flex;
}

.header-description h1 {
  font-size: 6.4rem;
  font-weight: 900;
}

.header h1:hover {
  color: var(--white);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  padding: 30px;
  /* border: 1px solid var(--text-color); */
}

.contact button {
  border: 1px solid var(--white);
  border-radius: 45px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding: 5px 13px;
  text-decoration: none;
  margin-left: 20px;
}

.contact button:hover {
  background-color: var(--white);
  color: var(--background-color);
}

/* desktop footer stylings */
.footer {
  height: 200px;
  /* border: 1px solid var(--text-color); */
  position: relative;
}

.footer-email {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 3%;
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 5%;
  bottom: 20%;
  gap: 10px;
}

.socials-container a {
  border: 1px solid var(--white);
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.socials-container a:hover {
  background-color: var(--white);
  color: var(--background-color);
}

.inspired {
  position: absolute;
  right: 5%;
  bottom: 20%;
}

.inspired a {
  margin-left: 5px;
}

/* media query for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* mobile hero stylings */
  .nav {
    padding: 5%;
  }

  .header {
    flex-direction: column;
    height: 800px;
  }

  .header-name {
    flex-direction: column;
  }

  .nav h1 {
    font-size: 1.5rem;
  }
  .nav h3 {
    font-size: 1rem;
  }

  .header-title {
    flex-direction: column;
    align-items: center;
  }

  .header-descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  }

  .header-description h1 {
    font-size: 3.1rem;
  }

  .about {
    margin-top: 8%;
    align-items: center;
    justify-content: center;
  }

  .about p {
    line-height: 1.5;
  }

  .contact button {
    margin-left: 0;
  }

  /* mobile footer styling */
  .footer {
    height: 250px;
  }

  .footer-email {
    flex-direction: column;
    font-size: 1rem;
    text-align: right;
    margin-right: 3%;
    margin-top: 5%;
  }

  .socials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    right: 3%;
    bottom: 30%;
  }

  .inspired {
    right: 5%;
    bottom: 8%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* mobile hero stylings */
  .nav {
    padding: 5%;
  }

  .nav h1 {
    font-size: 1.5rem;
  }
  .nav h3 {
    font-size: 1rem;
  }

  .header {
    flex-direction: column;
  }

  .header-name {
    flex-direction: column;
  }

  .header-name h1 {
    font-size: 2rem;
  }

  .header-descriptions {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-description h1 {
    font-size: 4.8rem;
  }

  .header-title {
    flex-direction: column;
    align-items: center;
  }

  .about {
    padding: 5%;
    margin-top: 7%;
    align-items: center;
  }

  .about p {
    font-size: 1.1rem;
  }

  .contact button {
    font-size: 1.2rem;
    margin-left: 0;
  }

  /* mobile footer styling */
  .footer {
    height: 250px;
  }

  .footer-email {
    flex-direction: column;
    font-size: 1rem;
    text-align: right;
    margin-right: 3%;
    margin-top: 5%;
  }

  .socials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    right: 3%;
    bottom: 30%;
  }

  .inspired {
    right: 5%;
    bottom: 8%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }

  .header-description {
    justify-content: center;
  }

  .header-description h1 {
    font-size: 7.8rem;
  }
  .header-descriptions {
    margin-top: 10%;
  }

  .header-title {
    flex-direction: column;
  }

  .contact button {
    font-size: 1.2rem;
  }

  .about {
    margin-top: 5%;
    font-size: 1.7rem;
    gap: 15px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .header-description {
    font-size: 4.5rem;
  }

  .contact button {
    font-size: 1.2rem;
  }

  .about {
    margin-top: 5%;
    gap: 5px;
  }
}
