:root {
  --background-color: #111;
  --text-color: #aaaaaa;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

/* desktop hero stylings */

.scroll-watcher {
  position: fixed;
  top: 0;
  height: 6px;
  background-color: var(--text-color);
  width: 100%;
  z-index: 1000;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 2%;
}

.header-name {
  display: flex;
  gap: 10px;
}

.header-name h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.header-name img {
  width: 30px;
  height: 25px;
  margin-left: 5px;
}

.header-name h1:hover {
  color: var(--white);
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-description {
  display: flex;
  /* border: 1px solid var(--text-color); */
  background-color: transparent;
}

.header-description h1 {
  font-family: "Bebas Neue", serif;
  font-size: 13.4rem;
  font-weight: 900;
  background-color: transparent;
}

.dash {
  display: none;
}

.front-end {
  display: flex;
}

.front-end h1 {
  font-family: "Bebas Neue", serif;
  font-size: 13.4rem;
  font-weight: 900;
  background-color: transparent;
}

.front {
  display: flex;
}

.header h1:hover {
  color: var(--white);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  padding: 20px;
  font-size: 20px;
  /* border: 1px solid var(--text-color); */
}

.contact button {
  border: 1px solid var(--white);
  border-radius: 45px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding: 5px 13px;
  text-decoration: none;
  margin-left: 20px;
}

.contact button:hover {
  background-color: var(--white);
  color: var(--background-color);
}

section a {
  text-decoration: none;
}

section h1 {
  font-size: 6.5rem;
  font-weight: 700;
}

section h1:hover {
  color: var(--white);
  transition: 1.5s ease-in-out;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin: 0 2%;
}

.project-info {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 10%;
}

.view-on-github a {
  border: 1px solid var(--white);
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
}

.view-on-github a:hover {
  background-color: var(--white);
  color: var(--background-color);
}

/* desktop footer stylings */
.footer {
  height: 200px;
  /* border: 1px solid var(--text-color); */
  position: relative;
}

.footer-email {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 3%;
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 5%;
  bottom: 20%;
  gap: 10px;
}

.socials-container a {
  border: 1px solid var(--white);
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.socials-container a:hover {
  background-color: var(--white);
  color: var(--background-color);
}

.inspired {
  position: absolute;
  right: 5%;
  bottom: 20%;
}

.inspired a {
  margin-left: 5px;
}

/* media query for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* mobile hero stylings */
  .nav {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
  }

  .header {
    flex-direction: column;
    padding: 0;
  }

  .header-name {
    justify-content: flex-start;
    grid-row: 2;
    margin-top: 30px;
  }

  .header-name h1 {
    font-size: 1.35rem;
  }
  .nav h3 {
    font-size: 1rem;
  }

  .header-title {
    justify-content: space-between;
    align-items: center;
  }

  .header-descriptions {
    width: 100%;
    display: grid;
    gap: 50px;
    padding: 5%;
    margin-top: 10px;
    background-color: transparent;
  }

  .header-description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    margin-left: 10px;
  }

  .header-description h1 {
    margin-top: 45px;
    font-size: 50px;
    transform: scale(3.2, 3.2);
    background-color: transparent;
    font-weight: 200;
  }
  .front {
    flex-direction: column;
    gap: 72px;
  }

  .dash h1 {
    margin-left: 55px;
    transform: scale(5.2, 4.5);
    background-color: transparent;
  }

  .end {
    display: flex;
    align-items: center;
    gap: 88px;
    flex-wrap: wrap;
  }

  .dash {
    display: block;
    margin-bottom: 20px;
    background-color: transparent;
  }

  .front-end {
    display: flex;
    gap: 35px;
    margin-left: 10px;
  }

  .front-end h1 {
    font-family: "Bebas Neue", serif;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 200;
    transform: scale(3.2, 3.2);
    background-color: transparent;
  }

  .about {
    margin-top: 10%;
    align-items: center;
    justify-content: center;
  }

  .about p {
    line-height: 1.5;
  }

  .contact button {
    margin-left: 0;
  }

  section {
    margin-top: 55px;
  }

  section h1 {
    font-size: 3.2rem;
    font-weight: 900;
    padding: 20px auto;
  }

  .project {
    padding: 90px;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    height: 90%;
    left: 3%;
    top: 3%;
  }

  /* mobile footer styling */
  .footer {
    height: 250px;
  }

  .footer-email {
    flex-direction: column;
    font-size: 1rem;
    text-align: right;
    margin-right: 3%;
    margin-top: 5%;
  }

  .socials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    right: 3%;
    bottom: 30%;
  }

  .inspired {
    right: 5%;
    bottom: 8%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* mobile hero stylings */
  .nav {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
  }

  .nav h1 {
    font-size: 1.5rem;
  }
  .nav h3 {
    font-size: 1rem;
  }

  .header {
    flex-direction: column;
  }

  .header-name {
    justify-content: flex-start;
    margin-top: 30px;
    grid-row: 2;
  }

  .header-name h1 {
    font-size: 1.5rem;
  }

  .header-title {
    justify-content: space-between;
    align-items: center;
  }

  .header-descriptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 5%;
    margin-top: 10px;
    background-color: transparent;
  }

  .header-description {
    display: flex;
    gap: 31px;
  }

  .header-description h1 {
    margin-top: 45px;
    font-size: 50px;
    transform: scale(3, 3.2);
    background-color: transparent;
    font-weight: 200;
  }
  .front {
    display: flex;
    gap: 30px;
  }

  .end {
    display: flex;
    align-items: end;
    gap: 88px;
  }

  .front-end {
    display: flex;
    gap: 31px;
  }

  .front-end h1 {
    font-family: "Bebas Neue", serif;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 200;
    transform: scale(3, 3.2);
    background-color: transparent;
  }

  .about {
    padding: 5%;
    margin-top: 10%;
    align-items: center;
  }

  .about p {
    line-height: 1.5;
    font-size: 1.1rem;
  }

  .contact button {
    margin-left: 0;
  }

  section {
    margin-top: 55px;
  }

  section h1 {
    font-size: 4.8rem;
    font-weight: 900;
    padding: 20px auto;
  }

  .project {
    padding: 90px;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    height: 90%;
    left: 3%;
    top: 3%;
  }

  /* mobile footer styling */
  .footer {
    height: 250px;
  }

  .footer-email {
    flex-direction: column;
    font-size: 1rem;
    text-align: right;
    margin-right: 3%;
    margin-top: 5%;
  }

  .socials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    right: 3%;
    bottom: 30%;
  }

  .inspired {
    right: 5%;
    bottom: 8%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
  .contact button {
    font-size: 1.2rem;
  }

  .about {
    margin-top: 5%;
    font-size: 1.7rem;
    gap: 15px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .header {
    flex-direction: column;
  }

  .contact button {
    font-size: 1.2rem;
  }

  .about {
    margin-top: 5%;
    gap: 5px;
  }
}
